_site
.bundle
.DS_store
.idea
.jekyll-cache
.jekyll-metadata
.ruby-version
.sass-cache
.tweet-cache
.venv
assets/libs/
assets/rendercv/rendercv_output/*.typ
Gemfile.lock
node_modules/
vendor
/content/HungHair/Hung Hair.pdf
/content/infinite/IMG_20230317_214755.jpg
/content/infinite/IMG_20230317_214757.jpg
/content/infinite/Samir_TimajChi - Proposal_infinite.pdf.pdf
/content/infinite/Timeline 13.mov
/content/infinite/Timeline 23.mov
/content/infinite/Timeline 33.mov
/content/Lullaby/Samir TimajChi - Lullaby for SQ.pdf
/content/Lullaby/Samir TimajChi - Lullaby for String Quartet.mp4
/content/SiX/Legends.jpg
/content/SiX/Score w. Light.jpg
/content/SiX/Score w.o. Light.jpg
/content/The Art of Virtuoso/IMG_0640.MOV
/content/The Art of Virtuoso/TimajChi_Samir -The Art of Virtuoso.docx
/content/Unknown/Samir TimajChi - Unknown.pdf
/content/Unknown/Samir TimajChi - Unknown - MusicAEterna.mov
/content/Samir TimajChi - toʊ - Prototype and documentation.mov
